
.root {
    -fx-background-color: white;
}

    /* Authentication View */

#login-container {
    -fx-background-color: transparent;
}

.text-field {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}
.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-insets: 0;
    -fx-border-color: #387012;
}

#matricula-field > .right-button:hover > .right-button-graphic {
    -fx-background-color: #3d9401;
}

#senha-field > .right-button:hover > .right-button-graphic {
    -fx-background-color: #3d9401;
}

#senha-field > .right-button:pressed {
    -fx-background-color: #3d9401;
}

#senha-field > .right-button:pressed > .right-button-graphic {
    -fx-background-color: white;
}

#entrar-button {
    -fx-background-color: #3d9401;
}

#entrar-button:hover {
    -fx-border-color: #2e7000;
}

#check:selected > .box, #check:pressed > .box, #check:selected:pressed > .box {
    -fx-background-color: #3d9401;
    -fx-border-color: #3d9401;
}

#check:selected > .box > .mark, #check:pressed > .box > .mark{
    -fx-background-color: white;
}

    /* Loading View */

#progress-indicator {
    -fx-progress-color: #3d9401;
    -fx-background-color: white;
}

#progress-indicator:indeterminate > .spinner {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#voltar-button {
    -fx-background-color: #9c2d14;
    -fx-text-fill: white;
}

#voltar-button:hover {
    -fx-border-color: #611b0c;
}

    /* Dashboard View */

#sair-button {
    -fx-background-color: #9c2d14;
    -fx-text-fill: white;
}

#sair-button:hover {
    -fx-border-color: #611b0c;
}

#carregar-button {
    -fx-background-color: #3d9401;
    -fx-text-fill: white;
}

#carregar-button:hover {
    -fx-border-color: #2e7000;
}

#tabela {
    -fx-border-width: 0.2;
    -fx-border-color: gray;
}

#tabela .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

#tabela .column-header {
    -fx-padding: 0;
    -fx-alignment: CENTER;
}

#tabela  .column-header .label {
    -fx-alignment: CENTER;
    -fx-padding: 0;
    -fx-font-size: 1em;
}

#tabela .column-header#ultimacoluna .label {
  -fx-alignment: CENTER_LEFT;
}

#tabela .table-cell {
    -fx-padding: 0;
}

#tabela .filler {
    -fx-background-insets: 0;
}

#tabela > .column-header-background .nested-column-header > .column-header > GridPane > .arrow {
    -fx-padding: 0;
}

#tabela > .column-header-background > .show-hide-columns-button,
.tree-table-view > .column-header-background > .show-hide-columns-button {
    -fx-padding: 0;
}

#tabela .show-hide-column-image,
.tree-table-view .show-hide-column-image {
    -fx-padding: 0;
}